[user]
	email = chinnawat.w@opsta.co.th
[init]
	defaultBranch = main
[credential]
	helper = "!f() { /home/node/.vscode-server/bin/cd4ee3b1c348a13bafd8f9ad8060705f6d4b9cba/node /tmp/vscode-remote-containers-de21cbe8-15a2-48ca-9f3d-ea9d73501ef1.js git-credential-helper $*; }; f"
